.container {
  display: flex;
  justify-content: center;
}

.container div {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10%;
  background-color: gray;
}