.container {
  display: flex;
  justify-content: center;
  box-shadow: rgb(134, 134, 134)

}

.container div {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10%;
  background-color: rgb(209, 206, 206);
  backdrop-filter: blur(100px);
  border-radius: 1em;
}


